<!DOCTYPE html>
<html>
  <head>
    <title>Briskbnb</title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHMkbUt33T0cLfxW_NZRVhklSLCWf7nzA">
    </script>
    <script type="text/javascript"        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHMkbUt33T0cLfxW_NZRVhklSLCWf7nzA&libraries=places">
    </script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
