<!DOCTYPE html>
<html>
  <head>
    <title>Briskbnb</title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= javascript_include_tag
    "https://maps.googleapis.com/maps/api/js?key=AIzaSyAHMkbUt33T0cLfxW_NZRVhklSLCWf7nzA" %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
